<div class='product-card'>
        <a class='product-link' [routerLink]="['/products/watch']">
          <img [src]="props.imageSrc" [alt]="props.title" />
        </a>
   
        
      <h2 class="product-title">{{props.title}}</h2>
        <p class='product-price'>{{props.price}}</p>
      <button class="product-btn" 
      (click)="addToCart(props)"
      >
        Add to Cart 
        <!-- <span *ngFor="let count of count$  | async">

            ({{count.count}})
          </span> -->
      </button>
      <!-- {{count$|async|json}} -->

    </div>
