<div class="hero-row">
      <div class="col">
        <h1>
          Providing easy services <br /> at your door
        </h1>
        <p>
          Providing easy services at your door lorem ispum lorem ispum lorem
          ispum lorem ispum lorem ispum lorem ispum lorem ispum lorem ispum
          ispum lorem ispum ispum lorem ispum ispum lorem ispum ispum lorem
          ispum ispum lorem ispum
        </p>
      </div>
      <div class="col">
        <img class="hero-img" src='./assets/images/heroImg.png' alt="heroimg" />
      </div>
    </div>
    <div class="hero-container">
        <div class="banner">
            <div class="banner-group">
                <h1>1k+</h1>
                <p>Active users shopping</p>
            </div>
            <div class="banner-group">
                <h1>10k+</h1>
                <p>Products</p>
            </div>
            <div class="banner-group">
                <h1>2k+</h1>
                <p>Ongoing Delivery</p>
            </div>
        </div>
    </div>


