      <div class="container">
          <div class="grid-container">
            <div class="item1">
              <h1 class="item1-title">Logo</h1>
              <p class="item1-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                repellat dolorem similique blanditiis quas. Est dignissimos natus
                voluptatem, porro dolores atque.
              </p>
            </div>
            <div class="item2">
              <ul class="item2-group">
                <li class="item2-title">About Us</li>
                <li class="item2-text">Lorem</li>
                <li class="item2-text">Affiliates</li>
              </ul>
              <ul class="item2-group">
                <li class="item2-title">Support</li>
                <li class="item2-text">Help Center</li>
                <li class="item2-text">FAQs</li>
              </ul>
              <ul class="item2-group">
                <li class="item2-title">Contact Us</li>
                <li class="item2-text">Address</li>
                <li class="item2-text">21, Clearwater st FL 10001</li>
                <ul class="item2-sub-group">
                  <li class="item2-title">Phone Number</li>
                  <li class="item2-text">+1000 000 0000</li>
                </ul>
              </ul>
            </div>
            <div class="item3">
              <div class="item3-group1">
                <h3 class="item3-title">Get Update</h3>
                <p class="item3-text">We are growing fast. Get daily update</p>
              </div>
              <div class="item3-group2">
                <input
                  type="text"
                  class="item3-input"
                  placeholder="Enter your email address"
                />
                <button class="item3-btn">Join now</button>
              </div>
            </div>
            <div class="item4">
              <div class="item4-group">
                <p class="item4-title">Follow us on social media</p>
              </div>
              <div class="item4-group">
                <div class="item4-group1">
                  <i class="bi bi-facebook"></i>
                  <i class="bi bi-twitter"></i>
                  <i class="bi bi-linkedin"></i>
                </div>
                <div class="item4-group2">
                  <p class="item4-text">
                    &#169;2023 LoremRates.All rights reserved
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
