<div class='top-container'>
        <div class='top-title'>
      <h2>Top Selling pick for you</h2>
      <p>Be the first to know about your biggest and best sale</p>
        </div>

<div class='top-content'>
      <p>Most Picked</p>
      <div class="grid-container2">
        <div class="prod1">
            <app-img-prop src="assets/images/watch_2.png" alt="prodimg" desc="Fossil Series 5" price="N5200"></app-img-prop>
  
        </div>
        <div class="prod2">
            <app-img-prop src="assets/images/watch 1.png" alt="prodimg" desc="Fossil Series 4" price="N3000"></app-img-prop>
   
        </div>
        <div class="prod3">
            <app-img-prop src="assets/images/pad.png" alt="prodimg" desc="Drone Controller" price="N4000"></app-img-prop>
        
        </div>
        <div class="prod4">
            <app-img-prop src="assets/images/drone.png" alt="prodimg" desc="Drone" price="N5000"></app-img-prop>
        
        </div>
        <div class="prod5">
            <app-img-prop src="assets/images/shoe.png" alt="prodimg" desc="Nike" price="N2000"></app-img-prop>
        
        </div>
      </div>
      <div class='top-button'>
        <button class='top-btn'>View More</button>
      </div>
</div>
    </div>
